{% extends "layout.html" %}

{% block title %}
    Adding Task
{% endblock %}

{% block main %}
    <h1> Adding Task</h1>
    <h3> {{ table_name }} </h3>
    <form action="/update" method="POST">
        <input type="text" id="new_task" name="new_task" placeholder="New Task"> <br>
        <input type="date" name="date" value="date"> <br>
        <h4> Priority: </h4>
        <input type="radio" id="low" name="priority" value="Low">
        <label for="low">Low</label><br>
        <input type="radio" id="medium" name="priority" value="Medium">
        <label for="medium">Medium</label><br>
        <input type="radio" id="high" name="priority" value="High">
        <label for="high">High</label> <br>
        <h4> Extra Details: </h4>
        <textarea name="textarea" style="width:250px;height:100px;"></textarea> <br>
        <input id="submit" type="submit" value="Submit New Task" disabled>
        <input type="hidden" name="table_name" value= {{ table_name }} />
    </form>
    <script>
        document.querySelector("#new_task").onkeyup = function() {
            if (document.querySelector("#new_task").value === "") {
                document.querySelector("#submit").disabled = true;
            } else {
                document.querySelector("#submit").disabled = false;
            }
        }
    </script>
{% endblock %}