{% extends "layout.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <h1> {{ table_name }} Tasks </h1>
    <h1> {{ details }} </h1>
    {% if table is none %}
        No tasks yet
    {% else %}
        <form action="/remove" method="POST"> 
        <ul id="tasks">
        {% for items in table %}
            <li> {{ items["task"] }}  <button type="submit" name="task_submit" value= '{{ items["task"] }}' > Completed </button> </li>
            {% if items["date"] != "NA" %}
                {{ items["date"] }}
            {% endif %}
            {% if items["priority"] != "NA" %}
                {{ items["priority"] }} Priority
            {% endif %}
            {% if items["details"] != "NA" %}
                <div class="w3-bar w3-light-grey">
                    <div class="w3-dropdown-hover">
                        <button class="w3-button">Details</button>
                            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                                <a href="#" class="w3-bar-item w3-button"> {{ items["details"] }} </a>
                            </div>
                        </div>
                    </div> 
            {% endif %}
        {% endfor %}
        </ul>
        <input type="hidden" name="table_name" value= {{ table_name }} />
        </form>
    {% endif %}
    <form action="/add" method="POST">
        <input type="submit" value="Add a New Task">
        <input type="hidden" name="table_name" value= {{ table_name }} />
    </form>
{% endblock %}